.table_form_admin {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.field_filter {
    margin-bottom: 1rem;
}

.line_form {
    margin-bottom: 1rem;
}
