@import "../../../styles/themes.module.scss";
.header_tab_name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons_dialog {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
}

.menu_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500 !important;
    div {
        margin: 0 1rem;
        font-size: 0.8rem !important;
    }
}

.menu_item_delete {
    color: red !important;
}

.icon_table {
    margin: 0 0.3rem !important;
}
